h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    background-color: black;
  margin-bottom: 53px;

}
body{
    margin: 0;
    padding: 65px;
}

ul{
    
    font-size: 25px;
    color: #0000FF;
    
}
li{
    color:black;
    margin-left: 65px;
    
}


h2{
    margin-left: 65px;
    
}
.mainheader {
    font-size: 50px;
    
}
p{
    margin-bottom: 53px;
    font-size: 25px;
}